.caixa1 {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.caixa1 > h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
  padding: 0.6rem 0 0;
}

.carrerMap {
  width: 100%;
}

.carrerMap2 {
  display: none;
  width: 80vw;
}

@media screen and (max-width: 900px) {

  .carrerMap {
    display: none;
    width: 100%;
  }
  
  .carrerMap2 {
    display: flex;
    width: 90vw;
  }
}

@media screen and (max-width: 640px) {
  .caixa1 > h1 {
    font-size: 2rem;
  }
}