.vibesApp {
  display: block;
  height: 110vh;
  width: 100%;
  background-color: azure;
  text-align: center;
}

.vibesApp h1 {
  color: rgb(20, 20, 20);
  margin-top: 3rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 3rem;
  padding: 0.6rem 0 0;
}

.vibesApp p {
  color: rgb(20, 20, 20);
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.6rem 0 0;
}

@media screen and (max-width: 500px) {
  .vibesApp h1 {
    font-size: 1.5rem;
  }

  .vibesApp p {
    font-size: 1rem;
  }

  .vibesApp {
    height: 70vh;
  }
}